body {
  /*background-image: url("../img/background_dna.jpg");*/
}

nav {
  height: 48px;
  line-height: 48px;
  box-shadow: none;
  background-color: black;
  color: white;
}
nav ul li:hover {
  background-color: inherit;
}
nav ul {
  cursor: pointer;
}
nav a {
  color: lightgrey !important;
}
nav img {
  height: 48px;
}
