body {
  /*background-image: url("../img/background_dna.jpg");*/
}

nav {
  height: 48px;
  line-height: 48px;
  box-shadow: none;
  background-color: black;
  color: white;
}
nav ul li:hover {
  background-color: inherit;
}
nav ul {
  cursor: pointer;
}
nav a {
  color: lightgrey !important;
}
nav img {
  height: 48px;
}

#back-button {
  background-color: lightgrey;
  border-radius: 3em;
  margin-left: 1rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 64px;
}

.results-container {
  background-color: #EEE;
  margin-top:15vh;
}

.treatment-card {
  cursor: pointer;
  font-size: 2rem;
}

.section-prefix {
  margin-top: 10vh;
}
