<div>
  <h1 class="center"><span class="thin">DNA</span>
    <span class="">2</span>
    <span class="thin">Drug</span></h1>
  <h5 class="center thin">Precision medicine fighting cancer</h5>
  <div class="row" ng-show="awaitingInput">
    <form class="col s12 center">
      <div class="row">
        <div class="input-field col s6 offset-s3">
          <textarea ng-model="sequence.value" id="gene" class="materialize-textarea" autofocus></textarea>
          <label for="gene">Enter Genome Sequence</label>
        </div>
      </div>
      <a class="btn" ng-click="awaitingInput = false; processSequence(sequence);">Submit</a>
    </form>
  </div>

  <i class="large material-icons" id="back-button" ng-click="awaitingInput = true" ng-show="!awaitingInput">navigate_before</i>
  <div class="row results-container" ng-show="!awaitingInput">

    <div class="col s12 center">
      <h6>We identified a mutation:</h6>
      <h2>{{mutations}}</h2>
      <p>{{drugs}}</p>
    </div>
  </div>

  <div class="container">
      <span class="col s8 center" ng-show="!awaitingInput">Current treatments which may be helpful in treating cancer caused by the {{mutations}} mutation:</span>
      <div class="row treatments-container" ng-show="!awaitingInput">

        <div ng-repeat="drug in drugs" class="col s6 m4">
          <div class="card-panel">
            {{drug}}
          </div>
        </div>
       </div>
  </div>

  <!--Modals-->
  <div id="modal-instructions" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Instructions</h4>
      <p>Input a section of a human DNA genome into the textbox, then hit Submit.
          Our algorithms identify the gene of interest, find mutations in the
          gene, and determine if they are potential risk factors for breast
          cancer. We'll even provide suggested drugs for treatment, specifically
          for the sarcomas typical of the malformed genes.</p>
      <p>Our science is based on published material by some of the world's
          leading researchers. To learn more, look into "Somatic Mutations
          and Breast Cancer"
    </div>
  </div>

  <div id="modal-about" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>About</h4>
      <p>DNA2Drug is a powerful tool leveraging precision medicine to help
          suggest potential medications to patients. We provide a way to
          translate a patient's DNA sequence into actionable suggestions
          for care. Our goal is to usher in a new era of digital therapeutics
          to enhance and build upon existing patient care.</p>
      <p>DISCLAIMER: DNA2Drug does NOT offer medical diagnoses or advice, nor
          do we promise such. We are not liable for any actions taken or
          damages occurring as a result of or coincident to accessing, viewing,
          or using our service. By using this service, you acknowledge and
          agree to these terms.</p>
    </div>
  </div>

  <div id="modal-contact" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Contact</h4>
      <p>We're a team of students at Harvard Medical School and the Georgia
          Institute of Technology. For any inquiries, please reach out to
          us at <a href="mailto:info@memorahealth.com">info@memorahealth.com</p>
    </div>
  </div>
</div>
